html {
  box-sizing: border-box;
  background-color: #eee9de;
  font-family: Lato, sans-serif;
  line-height: 1.5;
  color: #333;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.image {
  display: inline-block;
  max-width: 25em;
  margin-top: 1.5rem;
  padding-top: 1.5em;
  padding-left: 1em;
  padding-right: 1em;
}

img {
  display: block;
  width: 100%;
  margin-top: auto;
  margin-bottom: auto;
}

.information {
  display: inline-block;
  max-width: 25em;
  text-align: left;
  padding-left: 1em;
  margin-right: 1.5rem;
  margin-top: 1.5rem;
  padding-top: 1.5em;
}

h2 {
  font-weight: bolder;
  display: inline-block;
  margin-bottom: .5rem;
  margin-top: 0;
}

button {
  display: inline-block;
  padding: .6em .75em;
  border: 3px solid #333;
  border-radius: 8px;
  background-color: #eee9de;
  font-size: 1.125em;
  margin-bottom: 3rem;
  margin-top: .6rem;
}

.btn {
  text-decoration: none;
  color: #333;
  text-align: center;
}

button:hover {
  background-color: #666;
  color: #eee9de;
}

body {
  margin: 0;
}

section {
  text-align: center;
  margin: 0;
}

p {
  max-width: 23em;
  font-weight: bold;
}
