html {
  box-sizing: border-box;
  background-color: #eee9de;
  font-family: Lato, sans-serif;
  line-height: 1.5;
  color: #333;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.image {
  display: inline-block;
}

img {
  display: block;
  padding: 1.5em 1em 1em;
  max-width: 25em;
  width: 100%;
  margin-top: 1.5rem;
}

.information {
  display: inline-block;
  max-width: 25em;
  text-align: left;
  padding-left: 2em;
  margin-right: 1.5rem;
}

h2 {
  font-weight: bold;
  display: inline-block;
  margin: 0;
  margin-top: 1rem;
  margin-bottom: .5rem;
}

button {
  display: inline-block;
  padding: .4em .75em .5em;
  border: 3px solid #333;
  border-radius: 8px;
  background-color: #eee9de;
  font-size: 1.25em;
  margin-bottom: 3rem;
}

.btn {
  text-decoration: none;
  color: #333;
  text-align: center;
}

button:hover {
  background-color: #666;
  color: #eee9de;
}

body {
  margin: 0;
}

div {
  vertical-align: middle;
}

section {
  display: inline-block;
  text-align: center;
}
